<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alteração Vigências/Fechamentos</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    <script src="/js/jquery.ui.datepicker-pt-BR.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800&display=swap" rel="stylesheet">
  

</head>

<body>
    <div class="navbardiv"> 
        <%- include('navbar') %>
    </div>
    <div class="alert alert-success alert-dismissible fade show fixed-top" role="alert" id="Message" style="display:none">
        Sucesso!
      </div>
      <div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert" id="MessageError" style="display:none">
        Erro!
      </div>
        <div class="content">
            <h1>Alteração de Vigências / Fechamentos</h1>
            <table class="table">
                <thead class="sticky-top custom-thead">
                    <tr>
                        <th scope="col">Logo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Administradora</th>
                        <th scope="col">Vigência/Fechamento</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < operadoras.length; i++) { %>
                        <tr scope="row" class="Linhaoperadora" data-id="<%= operadoras[i].id %>">
                            <td scope="col"><img src="<%= operadoras[i].logo %>"></td>
                            <td>
                                <%= operadoras[i].nome %>
                            </td>
                            <td scope="col">
                                <%= operadoras[i].administradora %>
                            </td>
                            <td scope="col">
                                <% if (operadoras[i].vigencias.length > 0) { %>
                                    <% for (let j=0; j < operadoras[i].vigencias.length; j++) { %>
                                        <table class="table table-borderless">
                                            <tr>
                                                <td>
                                                    <input type="text" class="vigencia-input form-control"
                                                        value="<%= operadoras[i].vigencias[j] %>">
                                                </td>
                                                <td>
                                                    <input type="text" class="fechamento-input form-control"
                                                        value="<%= operadoras[i].fechamentos[j] %>">
                                                </td>
                                                <td>
                                                    <button class="excluir-btn btn btn-danger" title="Excluir vigência"><i class="bi bi-x-circle"></i></button>
                                                </td>
                                            </tr>
                                        </table>
                                    <% } %>
                                <% } else { %>
                                    <p class="Sem-vigencias">Sem vigências disponíveis</p>
                                <% } %>
                                <button class="adicionar-btn btn btn-secondary"><i class="bi bi-plus-circle"></i> Adicionar Vigência</button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <label for="data-atualizacao">Data de atualização:</label>
            <input type="text" id="data-atualizacao" class="data-atualizacao-input" readonly>


            <label for="data-proxima-atualizacao">Data da próxima atualização:</label>
            <input type="text" id="data-proxima-atualizacao" class="data-proxima-atualizacao-input"
                placeholder="Insira a data">

            <button class="update-btn btn btn-primary">Atualizar Valores</button>
            <br>
        </div>
        <script src="/js/vigencias.js"></script>
        <script>
            $(document).ready(function () {
                $("#data-proxima-atualizacao").datepicker();
                var dataAtual = new Date();
                // Formata a data no formato DD/MM/AAAA
                var dia = dataAtual.getDate().toString().padStart(2, '0');
                var mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0');
                var ano = dataAtual.getFullYear();
                var dataFormatada = dia + '/' + mes + '/' + ano;

                // Define o valor do campo data-atualizacao
                $('#data-atualizacao').val(dataFormatada);

                // Desativa a edição do campo
                $('#data-atualizacao').prop('readonly', true);
            });
        </script>
</body>

</html>